{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "jest": true,
        "es6": true,
        "node": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "semi":"error"
    },
    "globals": {
        "SyntheticInputEvent": true,
        "Generator": true
    }
}