html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  border-radius: 5px;
  padding: 0.5em;
  font-size: 2em;
}